@import "sidebar.styl"
@import "content.styl"

.main-section
    padding-top 48px
    .title
        color $color-dark
        font-family "Source Sans Pro", sans-serif
        font-size 22px
        font-weight 700
        line-height 28px

.head-line
    padding 16px 20px
    height 60px
    background-color #F9FAFC