.sidebar-menu
    li
        margin-top 50px
        &:first-child
            margin-top 25px
        a
            text-transform uppercase
            text-decoration none
            color $color-gray
            &:hover
                opacity .8
            &.active
                color $color-blue