@import 'mixins/fonts.styl'
@import 'mixins/variables.styl'
@import 'mixins/base.styl'
@import 'mixins/uikit.styl'

@import 'header/header-main.styl'
@import 'footer/footer-main.styl'
@import 'index/index-main.styl'

@import 'adaptive/adaptive-main.styl'