header
    .wrapper
        nav.no-gutters
            .col-2
                a(href='#', class='logo')
                    img(src='images/logo.svg')

            .col-9.d-flex.justify-content-between.align-items-center.ml-1
                ul.menu
                    + listLinks

                a(href='#', class='basket')
                    img(src="images/basket.svg", alt="basket")