.btn
    display block
    padding 13px 20px
    height 50px
    width 100%
    border-radius 6px
    font-weight 600
    line-height 23px
    color #fff
    text-align center
    text-decoration none
    &.btn-to-card
        margin-top 20px
        background-color $color-blue
        &:hover
            opacity .8

.btn-default
    display block
    text-align center
    height 50px
    width 200px
    padding 15px 20px
    text-decoration none
    &_transparent
        background transparent
        color $color-gray
        border 1px solid $color-borders
        border-radius 6px
        &:hover
            opacity .8